PresentationTier/BlazorWASM/obj
PresentationTier/BlazorWASM/bin
PresentationTier/BlazorWASM/Properties
PresentationTier/BlazorWASM/obj
PresentationTier/HttpClients/bin
PresentationTier/HttpClients/obj

PresentationTier/.idea/.idea.PresentationTier/.idea/workspace.xml
PresentationTier/.idea/.idea.PresentationTier/.idea/discord.xml
PresentationTier/.idea/.idea.PresentationTier/.idea/workspace.xml
PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.dgspec.json
PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.g.props
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.assets.cache
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.csproj.AssemblyReference.cache
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.GeneratedMSBuildEditorConfig.editorconfig
PresentationTier/BlazorWASM/obj/project.assets.json
PresentationTier/BlazorWASM/obj/project.nuget.cache
PresentationTier/BlazorWASM/obj/project.packagespec.json
PresentationTier/BlazorWASM/obj/rider.project.model.nuget.info
PresentationTier/BlazorWASM/obj/rider.project.restore.info

/PresentationTier/BlazorApp/obj/
/PresentationTier/BlazorApp/bin/
*.dll
*.dll
LogicTier/WebAPI/bin/Debug/net6.0/GrpcClient.dll
*.xml
PresentationTier/.idea/.idea.PresentationTier/.idea/workspace.xml
PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.dgspec.json
PresentationTier/BlazorWASM/obj/BlazorWASM.csproj.nuget.g.props
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.assets.cache
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.csproj.AssemblyReference.cache
PresentationTier/BlazorWASM/obj/Debug/net7.0/BlazorWASM.GeneratedMSBuildEditorConfig.editorconfig
PresentationTier/BlazorWASM/obj/project.assets.json
PresentationTier/BlazorWASM/obj/project.nuget.cache
PresentationTier/BlazorWASM/obj/project.packagespec.json
PresentationTier/BlazorWASM/obj/rider.project.model.nuget.info
PresentationTier/BlazorWASM/obj/rider.project.restore.info
PresentationTier/HttpClients/obj/Debug/net7.0/HttpClients.assets.cache
PresentationTier/HttpClients/obj/Debug/net7.0/HttpClients.csproj.AssemblyReference.cache
PresentationTier/HttpClients/obj/Debug/net7.0/HttpClients.GeneratedMSBuildEditorConfig.editorconfig
PresentationTier/HttpClients/obj/HttpClients.csproj.nuget.dgspec.json
PresentationTier/HttpClients/obj/HttpClients.csproj.nuget.g.props
PresentationTier/HttpClients/obj/project.assets.json
PresentationTier/HttpClients/obj/project.nuget.cache
PresentationTier/HttpClients/obj/project.packagespec.json
PresentationTier/HttpClients/obj/rider.project.model.nuget.info
PresentationTier/HttpClients/obj/rider.project.restore.info
