@namespace UIComponents
<div class="card">
    <div class="imageContainer">
        <div class="pricetag">
            <p class="price">$19.99999</p>
        </div>
    </div>
    <p class="address">3599 Blossom Ave, Los Angeles</p>
    <p class="description">
        <b>
            Gorgeous Remodel for this
            Los Angeles Home
        </b>
    </p>
    <hr>
    <p class="dimension">5 Beds - 3 Baths - 130m </p>
</div>

@code {

}