@namespace UIComponents
@using Microsoft.AspNetCore.Components
@using Domain.Models
@using System.Security.Claims
@using HttpClients.ClientInterfaces
@inject IPostService postService;
@inject IUserService userService;

<div class="chatCard" style="@color">
    <h5>@chat.PostName</h5>
     @ChildContent
</div>

@code {
    [Parameter]
    public Chat chat { get; set; }

    [Parameter]
    public bool selected { get; set; } = false;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    
    string color = "";

    protected  override async void OnInitialized()
    {
        if (selected)
        {
            color = "background-color: #e3ceff";
        }
    }

}