@namespace UIComponents
    <footer>
        <div class="linknlogo">
            <div class="logo">
                    <img src="img/image%203.png">
                <h1>MiTHus</h1>
            </div>
            <div class="links">
                <div class="footerLinkBox">
                    <h3>DISCOVER</h3>
                    <a href="/search/horsens" class="link">Horsens</a>
                    <a href="/search/aarhus" class="link">Aarhus</a>
                    <a href="/search/esbjerg" class="link">Esbjerg</a>
                    <a href="/search/Alborg" class="link">Alborg</a>
                    <a href="/search/Billund" class="link">Billund</a>
                </div>
                <div class="footerLinkBox">
                    <h3>EXPLORE</h3>
                    <a href="/search/" class="link">Listings</a>
                    <a href="" class="link">Agents</a>
                    <a href="" class="link">About</a>
                    <a href="" class="link">Privacy Policy</a>
                    <a href="/Contactus" class="link">Contact us</a>
                </div>
                <div class="footerLinkBox">
                    <h3>ADMIN</h3>
                    <a href="/search/horsens" class="link">Horsens</a>
                    <a href="/search/aarhus" class="link">Aarhus</a>
                    <a href="/search/esbjerg" class="link">Esbjerg</a>
                    <a href="/search/Alborg" class="link">Alborg</a>
                    <a href="/search/Billund" class="link">Billund</a>
                </div>
            </div>
        </div>

        <div style="margin-top: 100px; margin-left: 100px;">© MITHUS 2023. All rights reserved.</div>
    </footer>
@code {
    
}