.header{
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #52248C;
    color: white;
    padding-top: 200px;
    .header .wave {
        margin: 0;
        width: 100%;
    }
    .header .wave img {
        width: 100%;
        margin: 0;
    }
    .headerText{
        height: 100%;
        padding-left: 200px;
    }
    
}