@namespace UIComponents


    <div class="navigation @navClass" >
        <div class="logolinks">
            <a href="" class="logobox">
                <div class="logodiv">
                    <img src="img/image%203.png" class="logoimg">
                </div>
                <div class="logotext">
                    <h1>MiTHus</h1>
                </div>
            </a>
            <div class="linkbox">
                <div class="linkdiv">
                    <a href="">Home</a>
                </div>
                <div class="linkdiv">
                    <a href="">About</a>
                </div>
                <div class="linkdiv">
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
        <div class="contact">
            <a href="" class="">Contact us </a>
        </div>
    </div>
@code {
    private string navClass = "";
    
}