.navigation {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navigation .logolinks {
    display: flex;
    margin-left: 100px;
}

.navigation .logolinks .logobox {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navigation .logolinks .logobox .logotext {
    margin-left: 10px;
    font-family: Kadwa;
}

.navigation .logolinks .logobox .logotext h1 {
    margin: 0;
}

.navigation .logolinks .linkbox {
    display: flex;
    margin-left: 20px;
}

.navigation .logolinks .linkbox .linkdiv {
    display: flex;
    padding: 10px 5px 10px 5px;
    align-items: center;
}

.navigation .logolinks .linkbox .linkdiv a {
    text-decoration: none;
    color: white;
}

.navigation .contact {
    margin-right: 100px;
}

.solid {
    background-color: #6635A5;
}

.solid a {
    color: white;
}

.login {
    display: none;

}
.loginbox{
    z-index: 2;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.active {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 3;
}

a{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position:center ;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    background-color: #6635A5;
    padding: 5px 5px 5px 2rem;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.special{
    background-color: #BC87FF;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    width: 7.5rem;
    justify-content: center;
    margin-left: 10px;
}

nav li:first-child{
    margin-right: auto;
}

.logobox{
    display: flex;
}

.sidebar{
    position: fixed;
    padding-left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgb(255,255,255,0.2);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar a.special{
    background-color: #BC87FF;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    width: 9rem;
    justify-content: center;
    margin-left: 50px;
}

.sidebar .idk a.special{
    gap: 10px;+
}

.menuButton{
    display: none;
}

.logoimg{
    color: black;
}

.material-icons{
    color: white;
}

@media(max-width: 1700px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: flex;  
        justify-content: center;
    }
}

@media(max-width: 570px) {
    .sidebar{
        width: 100%;
    }
}


