.navigation {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 8vh;
}

.navigation .logolinks {
    display: flex;
    margin-left: 100px;
}

.navigation .logolinks .logobox {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navigation .logolinks .logobox .logotext {
    margin-left: 30px;
    font-family: Kadwa;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logodiv{
    width: 50px;
}
.navigation .logolinks .logobox .logotext logoHeader {
    margin: 0;
    text-align: center;

}

.navigation .logolinks .linkbox {
    display: flex;
    margin-left: 20px;
}

.navigation .logolinks .linkbox .linkdiv {
    display: flex;
    padding: 10px 5px 10px 5px;
    align-items: center;
}

.navigation .logolinks .linkbox .linkdiv a {
    text-decoration: none;
    color: white;
}

.navigation .contact {
    margin-right: 100px;
}

.solid {
    background-color: #6635A5;
}

.solid a {
    color: white;
}

.login {
    display: none;

}


a{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position:center ;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    background-color: rgba(102, 53, 165, 0);
    padding: 5px 5px 5px 2rem;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.special{
    background-color: #BC87FF;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    width: auto;
    justify-content: center;
    margin-left: 10px;
}

nav li:first-child{
    margin-right: auto;
}

.logobox{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sidebar{
    position: fixed;
    padding-left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgba(165, 100, 197, 0.71);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar a.special{
    background-color: #BC87FF;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    color: white;
    width: 9rem;
    justify-content: center;
    margin-left: 50px;
}

.sidebar .idk a.special{
    gap: 10px;+
}

.menuButton{
    display: none;
}

.logoimg{
    width:100%
}

.material-icons{
    color: white;
}
.error-template {padding: 40px 15px;text-align: center; margin-top: 500px;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

@media(max-width: 1700px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: flex;  
        justify-content: center;
    }
    .navigation .logolinks .logobox .logotext logoHeader {
        margin: 0;
        font-size: 50px;
    }
}

@media(max-width: 600px) {
    .navigation{
        height: 10vh;
    }
    .element{
        padding: 0;
    }
    .sidebar{
        align-items: center;
        width: 100%;
    }
    .sidebar li{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
    .sidebar a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar a.special{
        width: 150px;
        margin-left: 0;
    }
    .navigation .logolinks .logobox .logotext logoHeader {
        margin: 0;
        font-size: 50px;
    }
    .menu a{
        margin-top: 20px;
        justify-content: flex-start;
    }

}


