@page "/ContactUs"
<HeaderEl title="Contact us" description="If you have any question regarding our services please contact us."/>

<div class="pageContent">
    <div class="contactCards">
        <div class="container card">
            <h5>LOS ANGELES OFFICE</h5>
            <b>8604 Sunset Blvd.</b>
            <b>West Hollywood, CA 90069</b>
        </div>
        <div class="container card">
            <h5>SAN DIEGO OFFICE</h5>
            <b>8604 Sunset Blvd.</b>
            <b>West Hollywood, CA 90069</b>
        </div>
        <div class="container card">
            <h5>CONTACT</h5>
            <b>info@dwelling.com</b>
            <b>(805) 555-5555</b>
        </div>
    </div>
    <div class="containerr">
        <form action="action_page.php">
    
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
            <label for="phone">Phone</label>
            <input type="number" id="phone" placeholder="Your phone number..."/>
    
            <label for="subject">Subject</label>
            <textarea type="text" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
        
    
        </form>
    </div>
</div>
<div class="submitBtn">
    <input type="submit" value="Submit">
</div>



@code {

}