.pageContent{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    padding-bottom: 0;
}

.contactCards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container{
    border-radius: 5px;
    background-color: #FFF1FF;
    width: 21rem;
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    
}
h5{
    font-size: 0.6rem;
    color: #333;
    margin-bottom: 0.5rem;
    font-family: Inter;
}
b{
    font-weight: bolder;
    color: #764981;
    font-family: Inter;
    font-size: small;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],[type=number], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]:active{
    border: 1px solid blue;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #BC87FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 100vw;
    width: 6.5rem;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #764981;
}

/* Add a background color and some padding around the form */
.containerr {
    border-radius: 5px;
    margin-left: 5rem;
}

.submitBtn{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

label{
    color: #333;
    margin-bottom: 0.5rem;
    font-family: Inter;
}