@page "/"
    
    <div class="header">
        <div class="searchBox">
            <h1>Find Your Perfect Home</h1>
            <div class="searchBar">
                <div style="display: flex; padding: 5px; width: 100%; overflow: hidden;">
                    <img src="img/image%201.png" alt="">
                    <input type="text">
                </div>
                <a href="" class="searchBtn"><div><p>Search</p></div></a>
            </div>

        </div>
        
            <img class="wave" src="img/waves 1.png" alt="">
        
    </div>

@code {


}