@page "/"
@using UIComponents
<PageTitle>Index</PageTitle>

<h3 class="body_title"><b>Newly Listed</b></h3>
<div class="container">
    <div class="wrapper">
        <ApprtCard/>
        <ApprtCard/>
        <ApprtCard/>
    </div>
</div>

<div class="btnContainer">
    <p class="btnContainerText">Find the Perfect Home for You</p>
    <button class="seeListingsbtn">Browse all Listings</button>
</div>


