@page "/MyPosts"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Security.Claims
@inject NavigationManager _nav;
@inject IPostService postService;
@attribute [Authorize("MustBeMod")]
@attribute [Authorize("MustBeLandlord")]
@attribute [Authorize("MustBeAdmin")]

<HeaderEl title="Your posts" description="Bellow you can see all of your posts."/>

<AuthorizeView >
    <Authorized>
        <div class="container">
            <div class="wrapper" style="display: flex; justify-content: center;    display: flex;
                                                                                                  flex-wrap: wrap;
                                                                                                  grid-template-columns: repeat(4, 1fr);
                                                                                              gap: 1rem; ">
                @if (posts == null)
                {
                    <span>Loading..</span>
                }
                else if (!posts.Any())
                {
                    <span>No posts to be found</span>
                }
                else
                {
                    bool a = false;
                    foreach (var post in posts)
                    {
                        user = post.UserID;
                        if (user != null)
                        {
                            string claim = context.User.FindFirst("ID").Value;
                            int i = int.Parse(claim);
                            if (i == user.ID)
                            {
                                <ApprtCard PostObj="@post"/>
                                a = true;
                            }
                        }
                    }
                    if (a == false)
                    {
                        <div style="display:flex; flex-direction: column; gap: 2rem">

                            <h1 class="body_title">
                                <b>You have no posts yet, maybe make one?</b>
                            </h1>
                            <div class="submitBtn">
                                <input type="submit" value="Make post" @onclick="Navigate">
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>Please login</h3>
    </NotAuthorized>
</AuthorizeView>

@code {

    static IEnumerable<Domain.Models.Post>? posts;
    User user = new User();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAllPostsAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private void Navigate()
    {
        _nav.NavigateTo("/MakePost");
    }
}