@page "/MyPosts"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Security.Claims
@inject IPostService postService;
@attribute [Authorize("MustBeMod")]
@attribute [Authorize("MustBeLandlord")]
@attribute [Authorize("MustBeAdmin")]

<HeaderEl title="Your posts" description="Bellow you can see all of your posts."/>

<AuthorizeView >
    <Authorized>
        <div class="container">
            <div class="wrapper" style="display: flex">
                @if (posts == null)
                {
                    <span>Loading..</span>
                }
                else if (!posts.Any())
                {
                    <span>No posts to be found</span>
                }
                else
                {
                    foreach (var post in posts)
                    { 
                        user = post.UserID;
                        if (user!=null)
                        {
                            string claim = context.User.FindFirst("ID").Value;
                            int i = int.Parse(claim);
                            if ( i == user.ID){
                                <ApprtCard PostObj="@post"/>
                            }
                        }
                    }
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>Please login</h3>
    </NotAuthorized>
</AuthorizeView>

@code {

    static IEnumerable<Domain.Models.Post>? posts;
    User user = new User();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAllPostsAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}