@page "/VerifyPosts"
@inject NavigationManager _nav;
<HeaderEl title="Verify post" description="Bellow you will find a post that is waiting to be reviewed."/>
@attribute [Authorize("MustBeAdmin")]
@attribute [Authorize("MustBeMod")]

<div class="pageContent">

    <h1 class="body_title">
        <b>Verify post</b>
    </h1>

    <div class="container card">
        <form action="action_page.php">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Title..." readonly bind:event="oninput">

            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" placeholder="Description..." readonly bind:event="oninput">

            <label for="Street">Street</label>
            <input type="text" id="Street" name="Street" placeholder="Street..." bind:event="oninput">

            <label for="Area">Area</label>
            <div class="area">
                <input type="number" id="Area" name="Area" placeholder="Area..." bind:event="oninput">
            </div>

            <label for="Utilities">Utilities</label>
            <input type="number" id="Utilities" name="Utilities" placeholder="Utilities..." bind:event="oninput">

            <label for="maxTenants">Max tenants</label>
            <input type="number" min="1" max="7" step="1" value="1" id="maxTenants" readonly name="maxTenants" >

            <label for="deposit">Deposit</label>
            <input type="number" min="0" max="10000" step="1000" value="0" id="deposit" readonly name="deposit" >

            <label for="monthlyRent">Monthly rent</label>
            <input type="number" min="0" max="10000" step="1000" value="0" id="monthlyRent" readonly name="deposit" >

            <label for="moveInPrice">Move in Price</label>
            <input type="number" min="0" max="10000" step="1000" value="0" id="moveInPrice" readonly name="maxTenants" >

            <label for="amenity">Amenity</label>
            
            <div class="amenityTags">
                 <InputTags OnTagAdded="OnTagAddedAsync" OnTagRemoved="OnTagRemovedAsync"/>
            </div>
           
            <div class="bodyDiv">
                <div class="intInput">
                    <label for="energy" class="energy">Energy rating</label>
                    <select name="energy" id="energy" bind:event="oninput" disabled>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                    </select>
                </div>
                <div class="intInputs">
                    <label for="type" class="type">Type</label>
                    <select name="type" id="type" bind:event="oninput" disabled>
                        <option value="A">Penthouse</option>
                        <option value="B">Studio</option>
                        <option value="C">Duplex</option>
                        <option value="D">1 bedroom</option>
                        <option value="E">Luxury</option>
                    </select>
                </div>
            </div>
            <div class="bottomEllements">
                <div class="imageBody">
                    <label for="Images" class="imageHolder">
                        Upload Image
                        <img src="img/photo.png" class="photoIcon"/>
                        <input type="file" id="Images" name="Images" onchange="" multiple>
                        @* <InputFile OnChange="" multiple=""></InputFile> *@
                    </label>
                </div>
            </div>
            <div class="buttons">
                <button type="button" class="submitBtn">Approve</button>
                <button type="button" class="submitBtn">Deny</button>
                <button type="button" class="submitBtn" @onclick="NavigateToIndex">Return</button>
            </div>
            
        </form>
    </div>
</div>

@code {
    [Parameter]
    public string PathParam { get; set; }

    private void NavigateToIndex()
    {
        _nav.NavigateTo("/");
    }
}